In [1]:
list_numbers=[2,3,4,5,7,9]
squared_numbers=[number**2 for number in list_numbers]
print(squared_numbers)

[4, 9, 16, 25, 49, 81]

In [2]:
even_squared_numbers=[number**2 for number in list_numbers if number%2==0]
print(even_squared_numbers)
odd_squared_numbers=[number**2 for number in list_numbers if number%2!=0]
print(odd_squared_numbers)
list_numbers=[2,3,4,5,7,9]
square_cube_numbers=[number**2 if number%2!=0 else number**3 for number in list_numbers]
print(square_cube_numbers)
list_numbers=[num2 for num1 in range(4) for num2 in range(3)]
print(list_numbers)
list_of_lists=[]
for num1 in range(4):
  list_of_lists.append([])
  for num2 in range(3):
    list_of_lists[num1].append(num2)
print(list_of_lists)
list_of_lists=[[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[4, 16]
[9, 25, 49, 81]
[8, 9, 64, 25, 49, 81]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [3]:
list_of_lists=[]
for num1 in range(4):
  list_of_lists.append([])
  for num2 in range(3):
    list_of_lists[num1].append(num1)
print(list_of_lists)
list_of_lists=[[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)
my_string='Data Scientist and Data Analyst'
my_string1=my_string.split(' ')
first_letters=[]
for word in my_string:
  first_letters.append(word[0])
print(first_letters)
first_letters=[word[0] for word in my_string]
print(first_letters)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]
[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't', ' ', 'a', 'n', 'd', ' ', 'D', 'a', 't', 'a', ' ', 'A', 'n', 'a', 'l', 'y', 's', 't']
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't', ' ', 'a', 'n', 'd', ' ', 'D', 'a', 't', 'a', ' ', 'A', 'n', 'a', 'l', 'y', 's', 't']

In [4]:
days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [5]:
days_in_short=tuple([day[:3] for day in days])
print(days_in_short)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')

In [7]:
first_letters={word[0] for word in my_string}
print(first_letters)
country_city_dict={'India':'New Delhi','Australia':'Canberra','United States':'Washington DC','England':'London'}
flipped={}
for country,city in country_city_dict.items():
  flipped[city]=country
print(flipped)
flipped={city:country for country,city in country_city_dict.items()}
print(flipped)

{'A', 'e', 'a', 's', ' ', 'i', 'l', 'c', 'S', 't', 'd', 'y', 'n', 'D'}
{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}
{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}