In [ ]:
quote="I JUS?T WANT TO BE part of a symPHONY"
def extract_1letters(sentence):
  words=sentence.split(' ')
  firstletter=[w[0] for w in words]
  return firstletter
print(extract_1letters(quote))
q2="May the Force be with you...!"
print(extract_1letters(q2))

['I', 'J', 'W', 'T', 'B', 'p', 'o', 'a', 's']
['M', 't', 'F', 'b', 'w', 'y']

In [ ]:
def fact(num):
  f=1
  if(num<0): return "UNDEFINED"
  while(num>1):
    f*=num
    num=num-1
  return f
print(fact(3))
print(fact(-4))

6
UNDEFINED

In [ ]:
nums=[1,4,5,9,10,20]
flist=[fact(num) for num in nums]
print(flist)
flist=[fact(num) for num in nums if num%2!=0]
print(flist)

[1, 24, 120, 362880, 3628800, 2432902008176640000]
[1, 120, 362880]

In [ ]:
def check(num):
  print(f'Given number:{num}')
  if(num%2==0): return 'even'
  else:return 'odd'
n=check(30)
print(n)

Given number:30
even

In [ ]:
def addtolist(lis,n):
  nlis=lis+[n]
  return nlis
print (nums)
print(addtolist(nums,500))

[1, 4, 5, 9, 10, 20]
[1, 4, 5, 9, 10, 20, 500]

In [ ]:
def exp():
  global x
  x=50
  print(x)
x=25
print (x)
exp()
print(x)

25
50
50