<a href="https://colab.research.google.com/github/PihuPihuPihu/DS-ASSIGNMENT-1/blob/main/integer%2Bfloat%2Bbool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#basic operations
print(2+1)
print(2-5)
print(2*2)
print(3/2)
print(7//3)
print(2**5)
print(15%6)
print(2+10*10+3)
print(2+10*(10+3))

3
-3
4
1.5
2
32
3
105
132

In [6]:
# variables
x=5
print(x)
y=6.4
print(y)
z=x+y
print(z)
z=x-y
print(z)
print(type(y))
z=x*y
print(z)
type(z)
z=x/y
print(z)
type(z)
z=x//y
print(z)
type(z)

5
6.4
11.4
-1.4000000000000004
<class 'float'>
32.0
0.78125
0.0

float

In [7]:
#comparison operators and boolean values
bvar=False
type(bvar)
print(bvar)
print(2==3)
print(2==0)
print(2!=0)
print(2!=2)
a=3
b=2
print(a>b)
print(a==b)
print(a<b)
print(3<=0)
print(1<=2)

False
False
False
True
False
True
False
False
False
True