In [9]:
t=(1,2,3,2,1) #tuple
print(t)
print(type(t))
print(t[3])
print(t[-1])
print(t[1:3])
print(t[2:])
print(t[:2])
print(sorted(t))
tt=sorted(t)
print(tt)
print(tt.index(2))
print(t.count(1))

(1, 2, 3, 2, 1)
<class 'tuple'>
2
1
(2, 3)
(3, 2, 1)
(1, 2)
[1, 1, 2, 2, 3]
[1, 1, 2, 2, 3]
2
2

In [16]:
#set
s=set()
print(s)
print(type(s))
s={1,2,'abc'}
print(type(s))
print(s)
s=set(t)
print(s)
s.add('def')
s.update([5,6,7])
s.remove(6)
q={5,6,7,78,9}
s.union(q)
print(s|q)
s.intersection(q)#&
s.difference(q)#-
s.symmetric_difference(q)#^

set()
<class 'set'>
<class 'set'>
{1, 2, 'abc'}
{1, 2, 3}
{1, 2, 3, 5, 'def', 7, 6, 9, 78}

{1, 2, 3, 6, 78, 9, 'def'}

In [ ]:
#Dictionaries